@mixin shrinkLabel {
    top: -20px;
    font-size: 0.75rem;
    color: black;
}

.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 2.75rem;

    .form-label {
        position: absolute;
        top: 2px;
        left: 0;
        transition: 0.1s;
        font-size: 1.25rem;
        color: rgba(0, 0, 0, 0.6);
        z-index: -1;

        &.shrink {
            @include shrinkLabel();
        }

        &:hover {
            cursor: text;
        }
    }

    .form-input {
        border: none;
        border-bottom: 1px solid black;
        font-size: 1.25rem;
        line-height: 2rem;
        transition: 0.1s;
        background: none;

        &:focus {
            outline: none;
        }

        @keyframes side-to-side {
            0% {
                transform: translateX(-3px);
            }

            33% {
                transform: translateX(3px);
            }

            66% {
                transform: translateX(-3px);
            }

            100% {
                transform: translateX(0px);
            }
        }

        &.error {
            border-color: red;
            -webkit-transition: side-to-side 2s;
            transition: side-to-side 1s;
            -webkit-animation: side-to-side alternate 0.3s;
            animation: side-to-side alternate 0.3s;
        }
    }
    .error-message {
        margin-top: 0.25rem;
        color: red;
        transition: 0.1s;
        font-size: 0.75rem;
    }
}
